#mods
@AmmoStacks/
@AmmoStackBullet/
@Arma 2 Helicopters Remastered/
@BaseBuildingPlus/
@BBPItemPack/
@Better Medical Pouch/
@CF/
@Craft Gun Cleaning Kit/
@Dabs Framework/
@DayZ-Expansion-Animations/
@DayZ-Expansion-Book/
@DayZ-Expansion-Core/
@DayZ-Expansion-Groups/
@DayZ-Expansion-Licensed/
@DayZ-Expansion-Navigation/
@DayZ-Expansion-Vehicles/
@DisableFireAttachmentDamage/
@Fix-Inventory-After-update-118/
@FlipTransport/
@Furniture Kits/
@Gas-Pump-Refueling/
@InventoryInCar/
@MSP_NoGunProxies
@MuchStuffPack/
@PristineRepair/
@Repack Ammo/
@RUSForma_vehicles/
@SNAFU Weapons/
@Tactical Flava/
@Trader/
@VPPAdminTools/
@WSP-TraderLayout/
@ZomBerry Admin Tools/

#server files
addons/
battleye/
battleye_og/
bliss/
docs/
dta/
keys/
ban.txt
DayZServer_x64.exe
DayZServer_x64_noBE.exe
dayz.gproj
dayzsetting.xml
whitelist.txt
*.dll


#logs/report files
*.RPT
*.mdmp
*.ADM
*.log
*.bak
*.ch
*.vdf
config/VPPAdminTools/Logging/*.txt
mpmissions/dayzOffline.enoch/
mpmissions/dayzOffline.chernarusplus/storage_0/
mpmissions/dayzOffline.chernarusplus/storage_1/
config/ExpansionMod/Groups/
config/DataCache/
logs/
appcache/

#include
!DayzServer.bat
