#mods
@AmmoStacks/
@BaseBuildingPlus/
@CF/
@Craft-Gun-Cleaning-Kit/
@Dabs Framework/
@DayZ-Expansion-Animations/
@DayZ-Expansion-Book/
@DayZ-Expansion-Core/
@DayZ-Expansion-Groups/
@DayZ-Expansion-Licensed/
@DayZ-Expansion-Navigation/
@DayZ-Expansion-Vehicles/
@DisableFireAttachmentDamage/
@Fix-Inventory-After-update-118/
@FlipTransport/
@Furniture-Kits/
@Gas-Pump-Refueling/
@InventoryInCar/
@PristineRepair/
@RUSForma_vehicles/
@Tactical-Flava/
@Trader/
@VPPAdminTools/
@WSPTraderLayout/
@ZomBerry Admin Tools/

#server files
addons/
battleye/
bliss/
docs/
dta/
keys/
ban.txt
DayZServer_x64.exe
dayz.gproj
dayzsetting.xml
whitelist.txt
*.dll


#logs/report files
*.RPT
*.mdmp
*.ADM
*.log
*.bak
*.ch
config/VPPAdminTools/Logging/*.txt
mpmissions/dayzOffline.enoch/
mpmissions/dayzOffline.chernarusplus/storage_0/
mpmissions/dayzOffline.chernarusplus/storage_1/
config/ExpansionMod/Groups/

#include
!DayzServer.bat

config/DataCache/cache.ch
